
@{
    ViewBag.Title = "Quản Lý Chung Tuyển Dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Quản Lý Chung Tuyển Dụng</li>

    </ol>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản Lý Chung Tuyển Dụng</h1>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Trang thái đăng kí
    </div>
    <div class="panel-body">
        <table class="table table-condensed" id="danhsachdangki">
            <thead>
                <tr>
                    <th>Mã đăng kí</th>
                    <th>Họ và tên</th>
                    <th>Số CMND</th>
                    <th>Vị trí dự tuyển</th>
                    <th>Trường</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in ViewBag.TuyenDungs)
                    {
                        <tr>
                            <td>@item.TienTo@item.Id</td>
                            <td>@item.LastName @item.FirstName</td>
                            <td>@item.IdentifyCard</td>
                            <td>@item.MonDuTuyen.ViTriUngTuyen.Name @item.MonDuTuyen.Name</td>
                            <td>@item.School.TenTruong</td>
                            @{
                                if (@item.TrangThaiHosoTuyenDungId != null)
                                {
                                    <td>@item.TrangThaiHoSoTuyenDung.Name</td>
                                }
                                else
                                {
                                    <td>Chưa trình hồ sơ</td>
                                }
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#danhsachdangki').DataTable();
    });
</script>

