<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Thuyên Chuyển, Tuyển Dụng</title>
    <link rel="shortcut icon" href="~/Content/images/logo_so.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="header-color navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="logo-style-padding-top navbar-brand active" aria-current="true" href="/">
                    <img src="/Content/images/logo_so.png" class="logo-style img-rounded">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav-link nav navbar-nav navbar-left">
                    <li role="presentation">
                        <a href="/"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tuyển Dụng <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/tuyendung/capnhathosougtuyen">Cập nhật hồ sơ ứng tuyển</a></li>
                            <li><a href="#">In hồ sơ ứng tuyển</a></li>
                            <li><a href="#">Tình hình đăng kí</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Xem kết quả tuyển dụng</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thuyên Chuyển <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Đăng kí mới</a></li>
                            <li><a href="#">Tiến độ giải quyết hồ sơ</a></li>
                            <li><a href="#">Cập nhật thông tin đăng kí</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Mẫu hồ sơ</a></li>
                            <li><a href="#">Hướng dẫn</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav-link nav navbar-nav navbar-right">
                    <li role="presentation" class="">
                        <a href="/lienhe" role="button">
                            <span class="glyphicon glyphicon-earphone"></span> Liên Hệ
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <div>

        @RenderBody()
    </div>


</body>
</html>