@model TCCB_QuanLy.Models.DAO.TuyenDung2021
@{
    ViewBag.Title = "In hồ sơ ứng tuyển";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-success">
        <div class="panel-body">
            <p style="font-size: 70px" class="text-center text-success"><span class="glyphicon glyphicon-ok-circle"></span></p>
            <h3 class="text-success text-center">Thành công với mã đăng kí: <b>@Model.TienTo@Model.Id</b></h3>
            <p class="text-center text-warning"><i>(Vui lòng ghi nhận lại để cập nhật hồ sơ nếu như có nhu cầu)</i></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel panel-body">
            <p class="text-center">
                <button class="btn btn-primary" onclick="printDocuemntRegistration();">
                    <span class="glyphicon glyphicon-print"></span> IN HỒ SƠ
                </button>
            </p>
            <div class="col-sm-10 col-sm-offset-1 document-print a4-style" id="printContent">
                <h4 class="text-right">
                    <b>
                        Mã: @Model.TienTo@Model.Id
                    </b><br />

                </h4>
                <h4 class="text-uppercase text-center"><b>cộng hòa xã hội chủ nghĩa việt nam</b></h4>
                <h4 class="text-center"><b>Độc lập - Tự do - Hạnh phúc</b></h4>
                <p class="text-center" style="margin-top: -25px;">______________</p>
                <p class="text-center"><i>Tp.Hồ Chí Minh, ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</i></p>
                <div class="row">
                    <div class="col-sm-4 col-xs-4" style="border: solid; border-width: 1px; height: 160px; width: 120px; margin-left: 70px; margin-right: 40px;">
                        <p class="text-center" style="padding-top: 47%">Dán ảnh 4x6</p>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 style="padding-left: 12%">
                            <b>PHIẾU ĐĂNG KÝ DỰ TUYỂN</b>
                        </h4>
                        <p style="padding-left: 28%; margin-top: -15px;">_________</p>

                        <p>Vị trí dự tuyển: <b>@Model.MonDuTuyen.ViTriUngTuyen.Name @Model.MonDuTuyen.Name</b></p>
                        <p>Đơn vị dự tuyển:</p>


                        <p>- Nguyện bọng 1: <b>@Model.School1.TenTruong</b></p>
                        <p>- Nguyện bọng 2: <b>@Model.School2.TenTruong</b></p>
                        <p>- Nguyện bọng 3: <b>@Model.School.TenTruong</b></p>


                    </div>
                </div>
                <h4 class="text-uppercase" style="padding-left: 20px"><b>I. thông tin cá nhân</b></h4>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <p>
                            Họ và tên:
                            <b>
                                @Model.LastName @Model.FirstName
                            </b>
                        </p>

                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <p>
                            Ngày sinh:
                            <b>@Model.DOB.Value.ToString("dd/MM/yyyy")</b>
                        </p>
                    </div>
                    <div class="col-xs-3 col-sm-3">

                        <p>
                            Giới tính: @{
                                if (Model.IsMale == true)
                                {
                                    <b>Nam</b>
                                }
                                else
                                {
                                    <b>Nữ</b>
                                }
                            }
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-4">
                        <p>Dân tộc: <b>@Model.DanToc.Name</b></p>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <p>Tôn giáo: <b>@Model.TonGiao.Name</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <p>
                            Số CMND/CCCD:
                            <b>
                                @Model.IdentifyCard
                            </b>
                        </p>

                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <p>
                            Ngày cấp:
                            <b>@Model.CMNDNgayCap.Value.ToString("dd/MM/yyyy")</b>
                        </p>
                    </div>
                    <div class="col-xs-5 col-sm-5">

                        <p>
                            Nơi cấp: <b>@Model.Province1.Type @Model.Province1.Name</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <p>Số điện thoại để báo tin: <b>@Model.SDT</b></p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <p>Email: <b>@Model.Email</b></p>
                    </div>
                </div>
                <p>Quê quán: <b>@Model.Province2.Type @Model.Province2.Name</b></p>
                <p>
                    Hộ khẩu thường trú:<b>
                        @Model.HKTTSoNhaTenDuong, @Model.Ward1.Type @Model.Ward1.Name, @Model.Ward1.District.Type @Model.Ward1.District.Name, @Model.Ward1.District.Province.Type @Model.Ward1.District.Province.Name
                    </b>
                </p>
                <p>
                    Nơi ở hiện nay (để báo tin):<b>
                        @Model.NOHNSoNhaTenDuong, @Model.Ward.Type @Model.Ward.Name, @Model.Ward.District.Type @Model.Ward.District.Name, @Model.Ward.District.Province.Type @Model.Ward.District.Province.Name
                    </b>
                </p>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <p>
                            Tình trạng sức khỏe:
                            <b>
                                @Model.TinhTrangSucKhoe
                            </b>
                        </p>

                    </div>

                    <div class="col-xs-3 col-sm-3">
                        <p>
                            Chiều cao:
                            <b>@Model.Chieucao cm</b>
                        </p>
                    </div>
                    <div class="col-xs-3 col-sm-3">

                        <p>
                            Cân nặng: <b>@Model.CanNang kg</b>
                        </p>
                    </div>
                </div>
                <p>Thành phần bản thân hiên nay: <b>@Model.ThanhPhanBanThanHienTai.Name</b></p>
                <p>Trình độ văn hóa: <b>@Model.TrinhDoVanHoa</b></p>
                <div class="row">
                    <div class="col-sm-8 col-xs-8">
                        Trình độ chuyên môn: <b>@Model.ChuyenNganhDaoTao.Name</b>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        Điểm trung bình: <b>@Model.GPA</b>
                    </div>
                </div>

                <h4 class="text-uppercase" style="padding-left: 20px"><b>II. thông cơ bản về gia đình</b></h4>
                <table border="1" width="100%">
                    <thead>

                        <tr>
                            <th style="text-align: center">Mối quan hệ</th>
                            <th style="text-align: center">Họ và tên</th>
                            <th style="text-align: center">Ngày, tháng, năm sinh</th>
                            <th style="text-align: center">Quê quán, nghề nghiệp, chức danh, chức vụ, đơn vị công tác, học tập, nơi ở</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in ViewBag.ThongTinCoBanVeGiaDinhs)
                            {
                                <tr>
                                    <td>@item.MoiQuanHe</td>
                                    <td>@item.HoTen</td>
                                    <td>@item.NgaySinh</td>
                                    <td>@item.NoiDung</td>

                                </tr>
                            }
                        }

                    </tbody>
                </table>

                <h4 class="text-uppercase" style="padding-left: 20px"><b>III. thông tin đào tạo</b></h4>
                <table border="1" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align: center">
                                Ngày thàng năm cấp văn bàng chứng chỉ
                            </th>
                            <th style="text-align: center">Tên trường, cơ sở đào tạo</th>
                            <th style="text-align: center">Trình độ văn bằng chứng chỉ</th>
                            <th style="text-align: center">Số hiệu văn bằng chừng chỉ</th>
                            <th style="text-align: center">Chuyên ngành đào tạo (ghi theo bảng điểm)</th>
                            <th style="text-align: center">Hình thức đào tạo</th>
                            <th style="text-align: center">Xếp loại bằng, chứng chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>@Model.NamTotNghiep</td>
                            <td>@Model.TenTruongDaiHoc</td>
                            <td>@Model.BangTotNghiep.Name</td>
                            <td>@Model.SoVanBangChungChiDaiHoc</td>
                            <td>@Model.ChuyenNganhDaoTao.Name</td>
                            <td>@Model.HinhThucDaoTao.Name</td>
                            <td>@Model.XepLoaiHocLuc.Name</td>
                        </tr>
                        <tr>
                            <td>@Model.NgayCapTinHoc</td>
                            <td>@Model.TinHocTruongDaoTao</td>
                            <td>@Model.TrinhDoTinHoc.Name</td>
                            <td>@Model.SoVanBangChungChiTinHoc</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@Model.NgayCapNgoaiNgu</td>
                            <td>@Model.NgoaiNguTruongDaoTao</td>
                            <td>@Model.TrinhDoNgoaiNgu.Name</td>
                            <td>@Model.SoVanBangChungChiNgoaiNgu</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @{
                            if (Model.TrinhDoNgoaiNguKhacId != 1)
                            {
                                <tr>
                                    <td>@Model.NgayCapNgoaiNguKhac</td>
                                    <td>@Model.NgoaiNguKhacTruongDaoTao</td>
                                    <td>@Model.TrinhDoNgoaiNguKhac.Id</td>
                                    <td>@Model.SoVanBangChungChiNgoaiNguKhac</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*<div style="border: solid; border-width: 1px;">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <p>
                        Trường Đào tạo: <b>@Model.TenTruongDaiHoc</b>
                    </p>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <p>
                        Trường này ở: <b>@Model.Province.Type @Model.Province.Name</b>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p>
                        Tốt nghiệp:
                        <b>@Model.BangTotNghiep.Name</b>
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <p>
                        Hệ đào tạo: <b>@Model.HinhThucDaoTao.Name</b>
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p>
                        Năm tốt nghiệp: <b>@Model.NamTotNghiep</b>
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <p>Số hiệu văn bằng, chứng chỉ: <b>@Model.SoVanBangChungChiDaiHoc</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p>
                        Phương thức đào tạo:
                        @{
                            if (Model.IsNienChe == true)
                            {
                                <b> Niên chế</b>
                            }
                            else
                            {
                                <b> Tín chỉ</b>
                            }

                        }

                    </p>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <p>
                        Xếp loại tốt nghiệp:
                        <b>@Model.XepLoaiHocLuc.Name</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <p>
                        Điểm TB các môn học: <b>@Model.GPA</b>
                    </p>
                </div>
                @{
                    if (Model.IsNienChe == true)
                    {
                        <div class="col-xs-6 col-sm-6">
                            <p>
                                Điểm TB luận văn:
                                <b>
                                    @Model.DiemLuanVan
                                </b>
                            </p>


                        </div>
                    }
                }

            </div>
        </div>*@
                @*<p>
            Trình độ cao nhất:
            <b>@Model.TrinhDoCaoNhat.Name</b>
        </p>*@


                @*<div style="border: solid; border-width: 1px;">
            <div class="row">

                <div class="col-xs-7 col-sm-7">
                    <p>
                        Chứng chỉ :
                        <b>@Model.ChungChiNghiepVuSuPham.Name</b>


                    </p>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <p>
                        Số hiệu văn bằng, chứng chỉ:<b>
                            @Model.ChungChiNghiepVuSuPhamSoVanBang
                        </b>
                    </p>
                </div>
            </div>

        </div>
        <div style="border: solid; border-width: 1px;">
            <div class="row">

                <div class="col-xs-7 col-sm-7">
                    <p>
                        Chứng chỉ Tin học:<b>
                            @Model.TrinhDoTinHoc.Name
                        </b>
                    </p>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <p>
                        Số hiệu văn bằng, chứng chỉ:<b>
                            @Model.SoVanBangChungChiTinHoc
                        </b>
                    </p>
                </div>
            </div>

        </div>
        <div style="border: solid; border-width: 1px;">
            <div class="row">

                <div class="col-xs-7 col-sm-7">
                    <p>
                        Chứng chỉ Ngoại ngữ:<b>
                            @Model.TrinhDoNgoaiNgu.Name
                        </b>
                    </p>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <p>
                        Số hiệu văn bằng, chứng chỉ:<b>
                            @Model.SoVanBangChungChiNgoaiNgu
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <div style="border: solid; border-width: 1px;">
            <div class="row">

                <div class="col-xs-7 col-sm-7">
                    <p>
                        Chứng chỉ Ngoại ngữ khác:<b>
                            @Model.TrinhDoNgoaiNguKhac.Name
                        </b>
                    </p>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <p>
                        Số hiệu văn bằng, chứng chỉ:<b>
                            @Model.SoVanBangChungChiNgoaiNguKhac
                        </b>
                    </p>
                </div>
            </div>
        </div>*@
                <h4 class="text-uppercase" style="padding-left: 20px"><b>IV. thông tin về quá trình công tác</b></h4>
                <table border="1" width="100%">
                    <thead>
                        @*<tr>
                    <th>
                    Ngày thàng năm cấp văn bàng chứng chỉ</th>
                <th>Tên trường, cơ sở đào tạo</th>
                <th>Trình độ văn bằng chứng chỉ</th>
                <th>Số hiệu văn bằng chừng chỉ</th>
                <th>Chuyên ngành đào tạo (ghi theo bảng điểm)</th>
                <th>Ngành đào tạo</th>
                <th>Hình thức đào tạo</th>
                <th>Xếp loại bằng, chứng chỉ</th>
                </tr>*@
                        <tr>
                            <th width="30%" style="text-align: center">Từ ngày, tháng, năm dên ngày, tháng, năm</th>
                            <th width="70%" style="text-align: center">Cơ quan, tổ chức, đơn vị công tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in ViewBag.ThongTinQuaTrinhCongtacs)
                            {
                                <tr>
                                    <td>@item.TuNgayDenNgay</td>
                                    <td>@item.CoQuanToChuc</td>


                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <h4 class="text-uppercase" style="padding-left: 20px"><b>V. ĐĂNG KÝ DỰ THI MÔN NGOẠI NGỮ</b></h4>
                @{
                    if (Model.ThiNgoaiNgu.Id != 1)
                    {
                        <p>Đăng ký dự thi ngoại ngữ: <b>@Model.ThiNgoaiNgu.Name</b></p>
                    }
                    else
            {
                        <p>Thí sinh thuộc miễnn thi ngoại ngữ</p>
            }
                }

                <h4 class="text-uppercase" style="padding-left: 20px"><b>VI. thông tin khác</b></h4>
                <p>1/ Đối tượng ưu tiên: <b>@Model.DoiTuongUuTien1.Name</b></p>
                @*<p>2/ Trường hợp đặc biệt trong tuyển dụng viên chức: <b>@Model.TruongHopDacBiet.Name</b></p>*@


                @*<p>
            <i>
                Thông tin lương (dành cho ứng viên có công tác và tham gia Bảo hiểm
                XH)
            </i>
        </p>*@
                @*<div class="row">
            <div class="col-xs-4 col-sm-4">
                <p>
                    Năm vào ngành: <b>@Model.NamVaoNghanh</b>
                </p>
            </div>
            <div class="col-xs-4 col-sm-4">
                <p>
                    Mã ngạch: <b>@Model.MaNgach</b>
                </p>
            </div>
            <div class="col-xs-4 col-sm-4">
                <p>
                    Hệ số lương: <b>@Model.HeSoLuong</b>
                </p>
            </div>
        </div>*@
                @*<p>
            Mốc nâng lương lần sau:
            <b>@Model.MocNangLuongLansau</b>
        </p>*@

                <div class="row">
                    <div class="col-sm-9 col-xs-9">
                        <p>
                            Nơi đăng ký dự tuyển:<b>
                                SỞ GIÁO DỤC VÀ ĐÀO TẠO TP.HỒ CHÍ MINH
                            </b>
                        </p>
                    </div>
                    @*<div class="col-xs-3 col-sm-3">
                <p>
                    Bậc: <b>THPT</b>
                </p>
            </div>*@
                </div>



                <p style="text-align: justify;">
                    &nbsp;&nbsp;&nbsp;&nbsp;Tôi xin cam đoan những lời khai trên của tôi là đúng sự thật. Sau khi nhận được thông báo trúng tuyển tôi sẽ hoàn thiện hồ sơ theo theo quy định. Nếu sai sự thật thì kết quả tuyển dụng của tôi sẽ bị cơ quan có thẩm quyền tuyển dụng hủy bỏ, tôi sẽ chịu trách nhiệm trước pháp luật và cam kết không đăng ký tham gia kỳ tuyển dụng kế tiếp tại cơ quan tuyển dụng./.
                </p>
                <div class="row signature">

                    <div class="col-xs-6 col-sm-6">

                        <p>.</p>
                        <p class="text-center">
                            <b class="text-uppercase">Người viết phiếu</b><br />
                            <i>(Ký và ghi rõ họ tên)</i>
                        </p>
                        <p style="padding-top: 40px" class="text-center"><b>@Model.FirstName @Model.LastName</b></p>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <p class="text-center"><i>Ngày&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tháng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;năm <b>@DateTime.Now.Year</b></i></p>
                        <p class="text-center">
                            <b class="text-uppercase">NGƯỜI KIỂM TRA</b><br />
                            <i>(Ký và ghi rõ họ tên)</i>
                        </p>

                    </div>
                </div>
                <p>
                    <i>
                        <b>Người dự tuyển cần lưu ý</b>
                    </i>
                </p>
                <ul>
                    <li>
                        <i>
                            Sau khi cập nhật đầy đủ và chính xác thông tin Phiếu dự tuyển, người dự tuyển in ra 01 bản kèm theo bộ hồ sơ thứ nhất để nộp đến đơn vị đăng ký dự tuyển.

                        </i>
                    </li>
                    <li>
                        <i>
                            Đề nghị người dự tuyển thường xuyên theo dõi thông báo trên trang thông tin điện tử tuyển dụng của Sở Giáo dục và Đào tạo http://tuyendung.hcm.edu.vn/
                        </i>
                    </li>
                </ul>

            </div>


            <p class="text-center"><button class="btn btn-primary" onclick="printDocuemntRegistration();"><span class="glyphicon glyphicon-print"></span> IN HỒ SƠ</button></p>
            <script>
                function printDocuemntRegistration() {
                    $('#printContent').printThis();
                }
            </script>
            <hr>
        </div>
    </div>
</div>

